.modal-content {
    .delete-btn {
      color: red;
      margin-right: 20px;

      &:hover {
        background-color: red;
        color: $color-lightest;
      }
    }
    .cancel-btn {
      color: green;

      &:hover {
        background-color: green;
        color: $color-lightest;
      }
    }
  }

